name: Run Jest Unit Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
      

      # - name: Install dependencies
      #   run: npm install && npm run test
      - name: Install dependencies
        run: npm test

      # - name: Run unit test with Jest
      #   run:  npm run test
